body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.side-bar {
	height: 100% !important;
	display: flex;
	flex-direction: column;
	border-right: 1px solid;
	border-radius: 0;
	border-color: rgba(64, 194, 133, 0.693);
	background-color: rgb(255, 255, 255);
	transition: 0.8s ease;
}

.toggle-menu {
	height: 50px;
	border-top-right-radius: 10rem;
	border-bottom-right-radius: 9rem;
	width: 10px;
	position: absolute;
	outline: none;
	z-index: 1;
	background-color: rgba(64, 194, 133, 0.693);
	border-color: rgba(64, 194, 133, 0.693);
	border-left: 0;
}

.e-rowcell {
	text-align: inherit !important;
}

.st {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btn_json {
	width: 40%;
	border: none;
	padding: 20px;

	color: white;
	border-radius: 12px;
	font-size: 16px;
	cursor: pointer;
}

.btn_server {
	width: 40%;
	border: none;
	padding: 20px;

	color: white;
	border-radius: 12px;
	font-size: 16px;
	cursor: pointer;
}

.e-grid .e-headercell,
.e-grid .e-detailheadercell {
	background-color: whitesmoke;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-grids/styles/material.css';
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
